:root {
  --cell-size: 10rem;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, var(--cell-size));
  grid-template-rows: repeat(3, var(--cell-size));
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: solid 2px #000;
  cursor: pointer;
}

.cell[data-value=x]::before {
  content: '';
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 10px;
  height: var(--cell-size);
  border-radius: 50px;
  background: #000;
}

.cell[data-value=x]::after {
  content: '';
  position: relative;
  display: block;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 10px;
  height: var(--cell-size);
  border-radius: 50px;
  background: #000;
}

.cell[data-value=o]::before {
  content: '';
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: solid 10px #000;
  background: #fff;
}
